In [6]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O

In [7]:
pd.set_option("display.precision", 2)

In [8]:
temp = pd.read_csv("./daily-temperature-of-major-cities/city_temperature.csv")

C:\Users\nenad\AppData\Local\Temp\ipykernel_6884\1546901350.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv("./daily-temperature-of-major-cities/city_temperature.csv")

In [9]:
temp.head()

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9

In [10]:
temp.tail()

,Region,Country,State,City,Month,Day,Year,AvgTemperature
2906322,North America,US,Additional Territories,San Juan Puerto Rico,7,27,2013,82.4
2906323,North America,US,Additional Territories,San Juan Puerto Rico,7,28,2013,81.6
2906324,North America,US,Additional Territories,San Juan Puerto Rico,7,29,2013,84.2
2906325,North America,US,Additional Territories,San Juan Puerto Rico,7,30,2013,83.8
2906326,North America,US,Additional Territories,San Juan Puerto Rico,7,31,2013,83.6

In [11]:
print(temp.shape) # num of rows, cols

(2906327, 8)

In [12]:
print(temp.columns)

Index(['Region', 'Country', 'State', 'City', 'Month', 'Day', 'Year',
       'AvgTemperature'],
      dtype='object')

In [13]:
print(temp.info()) # general information about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2906327 entries, 0 to 2906326
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   Region          object
 1   Country         object
 2   State           object
 3   City            object
 4   Month           int64
 5   Day             int64
 6   Year            int64
 7   AvgTemperature  float64
dtypes: float64(1), int64(3), object(4)
memory usage: 177.4+ MB
None

In [14]:
temp.describe()

          Month       Day      Year  AvgTemperature
count  2.91e+06  2.91e+06  2.91e+06        2.91e+06
mean   6.47e+00  1.57e+01  2.01e+03        5.60e+01
std    3.46e+00  8.80e+00  2.34e+01        3.21e+01
min    1.00e+00  0.00e+00  2.00e+02       -9.90e+01
25%    3.00e+00  8.00e+00  2.00e+03        4.58e+01
50%    6.00e+00  1.60e+01  2.01e+03        6.25e+01
75%    9.00e+00  2.30e+01  2.01e+03        7.55e+01
max    1.20e+01  3.10e+01  2.02e+03        1.10e+02

In [15]:
temp.describe(include=['object']) # describe non-numerical features by explicitly indicating data types of interest

               Region  Country    State         City
count         2906327  2906327  1455337      2906327
unique              7      125       52          321
top     North America       US    Texas  Springfield
freq          1556681  1455337   129711        18530

In [16]:
temp["Region"].value_counts() # count categorical column values

Region
North America                        1556681
Europe                                381990
Asia                                  316663
Africa                                251118
South/Central America & Carribean     219530
Middle East                           124749
Australia/South Pacific                55596
Name: count, dtype: int64

In [17]:
temp["Region"].value_counts(normalize=True) # calculate fractions of categorical column values

Region
North America                        0.54
Europe                               0.13
Asia                                 0.11
Africa                               0.09
South/Central America & Carribean    0.08
Middle East                          0.04
Australia/South Pacific              0.02
Name: proportion, dtype: float64

In [18]:
# Sorting dataframes

In [19]:
temp.sort_values(by="AvgTemperature", ascending=True).head() # asc=true -> lowest ; asc=false -> highest

,Region,Country,State,City,Month,Day,Year,AvgTemperature
1377340,South/Central America & Carribean,Guyana,NaN,Georgetown,8,21,2005,-99.0
88779,Africa,Guinea-Bissau,NaN,Bissau,3,27,1999,-99.0
88778,Africa,Guinea-Bissau,NaN,Bissau,3,26,1999,-99.0
88777,Africa,Guinea-Bissau,NaN,Bissau,3,25,1999,-99.0
88776,Africa,Guinea-Bissau,NaN,Bissau,3,24,1999,-99.0

In [20]:
temp.sort_values(by=["AvgTemperature","Month"], ascending=[True,False]).head() # sorting by multiple values

      Region  Country State     City  Month  Day  Year  AvgTemperature
1453  Africa  Algeria   NaN  Algiers     12   24  1998           -99.0
1454  Africa  Algeria   NaN  Algiers     12   25  1998           -99.0
1459  Africa  Algeria   NaN  Algiers     12   30  1998           -99.0
1460  Africa  Algeria   NaN  Algiers     12   31  1998           -99.0
7669  Africa  Algeria   NaN  Algiers     12   30  2015           -99.0

In [21]:
temp["AvgTemperature"].mean()

56.00492078145366

In [22]:
temp.AvgTemperature.mean()

56.00492078145366

In [23]:
temp.AvgTemperature

0          64.2
1          49.4
2          48.8
3          46.4
4          47.9
           ...
2906322    82.4
2906323    81.6
2906324    84.2
2906325    83.8
2906326    83.6
Name: AvgTemperature, Length: 2906327, dtype: float64

In [24]:
temp.AvgTemperature[temp["Region"] == "Europe"].mean() # Average temperature by region

46.6962852430692

In [25]:
temp[temp["Country"] == "Canada"]["AvgTemperature"].mean()  # Average temperature by Country

42.00524749141356

In [26]:
temp[(temp["Country"] == "Canada") & (temp["Month"] == 12)]["AvgTemperature"].max() # Maxiumum temperature recorded in Canada in December

54.7

In [27]:
temp[(temp["Country"] == "Canada") & (temp["Month"] == 1)].min() # Minimum temperature data record in Canada in January

Region            North America
Country                  Canada
State                      None
City                    Calgary
Month                         1
Day                           1
Year                       1995
AvgTemperature            -99.0
dtype: object

In [28]:
temp.loc[0:5, "Country":"AvgTemperature"] # gives data records for indxed x:y and column rage from "Col 1" : "Col 2"

   Country State     City  Month  Day  Year  AvgTemperature
0  Algeria   NaN  Algiers      1    1  1995            64.2
1  Algeria   NaN  Algiers      1    2  1995            49.4
2  Algeria   NaN  Algiers      1    3  1995            48.8
3  Algeria   NaN  Algiers      1    4  1995            46.4
4  Algeria   NaN  Algiers      1    5  1995            47.9
5  Algeria   NaN  Algiers      1    6  1995            48.7

In [29]:
temp.loc[0:5, ["Country","City","AvgTemperature"]] # gives data records for indxed x : y and columns Country, City, AvgTemperature

   Country     City  AvgTemperature
0  Algeria  Algiers            64.2
1  Algeria  Algiers            49.4
2  Algeria  Algiers            48.8
3  Algeria  Algiers            46.4
4  Algeria  Algiers            47.9
5  Algeria  Algiers            48.7

In [30]:
temp[-1:] # last record in data set; to get first record -> temp[:1]

,Region,Country,State,City,Month,Day,Year,AvgTemperature
2906326,North America,US,Additional Territories,San Juan Puerto Rico,7,31,2013,83.6

In [31]:
temp.apply(np.max)

TypeError: '>=' not supported between instances of 'float' and 'str'